<header class="page-left">
    <div class="bg-img" style="background-image: url(/public/img/{{site.indeximg}});">
        <div class="bg-overlay"></div>
        <div class="inner-container">
            <a href="/" class="nav-btn"><span class="icon-home"></span>Nat</a>
            <div class="title">
                <h3>
                            <a href="/" title="Permalink to Homepage" rel="bookmark">Homepage</a>
                        </h3>
                <h4>This is homepage subtitle</h4>
            </div>
        </div>
    </div>
</header>
