<div class="main-menu">
    <div class="menu-expander">
        <a class="nav-expander fixed" id="nav-expander"><span></span></a>
    </div>
    <header>
        <h1>Hey There</h1>
        <p>网站正在建设中，部分功能尚未完工</p>
    </header>
    <nav>
        <ul>
            <li>
                <!-- <a href="#" class="active">technology</a> -->
                <a href="/category/work/">工作</a>
                <span class="icon icon-plus"></span>
                <ul class="sub-menu">
                    <!-- <li><a href="#" class="active">HTML/CSS</a></li> -->
                    <li><a href="/category/html_css/">HTML/CSS</a></li>
                    <li><a href="/category/js/">JS</a></li>
                    <li><a href="/category/nodejs/">NodeJs</a></li>
                    <li><a href="/category/others/">其他</a></li>
                </ul>
            </li>
            <li>
                <a href="/category/life/">生活</a>
                <span class="icon icon-plus"></span>
                <ul class="sub-menu">
                    <li><a href="/category/essay/">随笔</a></li>
                    <li><a href="/category/journal/">记录</a></li>
                </ul>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
        </ul>
    </nav>
    <footer>
        <ul class="clearfix">
            <li>
                <a href="mailto:fantastic.bowen@gmail.com" title="Mail"><span class="icon-mail"></span></a>
            </li>
            <li>
                <a href="#" title="Github"><span class="icon-github"></span></a>
            </li>
            <li>
                <a href="#" title="Share"><span class="icon-share"></span></a>
            </li>
            <li>
                <a href="/about" title="about"><span class="icon-user"></span></a>
            </li>
        </ul>
        <p><small>All code on this site is under <a href="http://opensource.org/licenses/MIT" target="_blank" class="bold-link">MIT License</a></small></p>
        <p><small>Hope you enjoy this~</small></p>
    </footer>
</div>
