<div class="main-menu">
    <div class="menu-expander">
        <a class="nav-expander fixed" id="nav-expander"><span></span></a>
    </div>
    <header>
        <h1>Hey There</h1>
        <p>网站正在建设中，部分功能尚未完工</p>
    </header>
    <nav>
        <ul>
            <li>
                <a href="#" class="active">technology</a>
                <span class="icon icon-plus"></span>
                <ul class="sub-menu">
                    <li><a href="#" class="active">HTML/CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">Node.js</a></li>
                    <li><a href="#">Others</a></li>
                </ul>
            </li>
            <!-- <li>
                <a href="#">pictures</a>
                <span class="icon icon-plus"></span>
                <ul class="sub-menu">
                    <li><a href="#">painting</a></li>
                    <li><a href="#">Photo</a></li>
                </ul>
            </li> -->
            <li>
                <a href="#">life</a>
                <span class="icon icon-plus"></span>
                <ul class="sub-menu">
                    <li><a href="#">Sentiment</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Movie</a></li>
                    <li><a href="#">Travel</a></li>
                </ul>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
            <!-- <li>
                <a href="#">archive</a>
            </li> -->
        </ul>
    </nav>
    <footer>
        <ul class="clearfix">
            <li>
                <a href="mailto:fantastic.bowen@gmail.com" title="Mail"><span class="icon-mail"></span></a>
            </li>
            <li>
                <a href="#" title="Github"><span class="icon-github"></span></a>
            </li>
            <li>
                <a href="#" title="Share"><span class="icon-share"></span></a>
            </li>
            <li>
                <a href="/about" title="about"><span class="icon-user"></span></a>
            </li>
        </ul>
        <p><small>All code on site is under <a href="http://opensource.org/licenses/MIT" target="_blank" class="bold-link">MIT License</a></small></p>
        <p><small>Hope you enjoy this~</small></p>
    </footer>
</div>
