<script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="/public/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="/public/js/plugins.js"></script>
<script src="/public/js/index.js"></script>
<script type="text/javascript">
var currentPage = 1,
	$articleList = $('.article-list'),
	$nextPage = $('.next-page'),
	loadLock = false; 
$('.next-page').click(function(event) {
	if(loadLock) return false;
	loadLock = true;
	$nextPage.addClass('active');
	$.get($(this).attr('href'), function(data) {
		var $result = $(data.substring(data.indexOf('<main'),data.indexOf('/main>')+6));
		var pageNum = $result.find('.next-page').attr('href');
        $articleList.append($result.find('.article-list article'));
		if(pageNum){
			$nextPage.attr('href', $result.find('.next-page').attr('href'));
            loadLock = false;
		}else{
			$nextPage.find('.load-text').text('没有了');
		}
		$nextPage.removeClass('active');
		
	});
	// console.log($(this).attr('href'));
	return false;
});
</script>
