@import "./_variables";
.content {
  margin-left: 20%;
  width: 80%;
  min-height: calc(100vh - 92px);
  padding: 60px 15% 10px 5%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &.active {
    &.active {
      transform: translateX(-50px);
    }
  }

  .center {
    height: 100%;
    width: 100%;
    max-width: 770px;
    margin: auto;
  }
}