---
layout: default
---
<section class="previous-articles">
    <div class="section-title">
        <div class="home-portfolio-title section-group-titles">
            <h2>{{page.title}}</h2>
        </div>
    </div>
    <div class="article-list">
        {% for post in site.posts %}
        {% for category in post.categories %}
        {% if category == page.category %}
        <article class="clearfix">
            <p class="post-time"><span class="icon-pie-graph"></span>
                <time>{{ post.date | date: "%Y-%m-%d" }}</time>
            </p>
            {% if post.titleimg %}
            <div class="article-img">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img src="{{ post.titleimg | prepend: site.imgurl }}" alt="">
                </a>
            </div>
            {% else %}
            <div class="article-img no-img">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img src="/public/img/IMG_2902-1200x800.jpg" alt="">
                </a>
            </div>
            {% endif %}
            <div class="article-preview">
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <h3>{{ post.subtitle }}</h3>
                <p>
                    {{ post.content | strip_html | truncate:100 }}
                </p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="read-more bold-link">Read More</a>
            </div>
        </article>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</section>
<div class="pagination">
    <!-- {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a> 
    {% else %}
    <span class="previous">Previous</span> 
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>  -->
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn next-page">
        <span class="load-text">加载更多</span>
        <div class="load-more">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </a>
    {% else %}
    <span class="btn">后边没了</span> {% endif %}
</div>
